



<div>
    <h1 class="text-center">Los productos</h1>
    <div class="text-right">

        <button class="btn btn-primary" routerLink = "/add">
            Agregar
        </button>
    <table class ="table table-hover" >
        <thead class ="table-danger">
            <tr>
                <th scope="col">#</th>
                <th scope="col">description</th>
                <th scoper="col">color</th>
                <th scoper="col">material</th>
                <th scoper="col">tipe crlothes</th>
                <th scoper="col">size</th>
                <th scoper="col">price</th>
                <th scoper="col">stock</th>
                <th scoper="col">path</th>
                
            </tr>

        </thead>
        <tbody>
            @for (item of productList; track $index) {
            <tr>
                <th class ="row">{{item.nid_clothes}}</th>
                <td>{{item.cdescription}}</td>
                <td>{{item.ccolor}}</td>
                <td>{{item.cmaterial}}</td>
                <td>{{item.ctype_clothes}}</td>
                <td>{{item.csize}}</td>
                <td>{{item.fprice}}</td>
                <td>{{item.nstock}}</td>
                <td>{{item.cimage}}</td>
                <td>
                    <div class = "btn-group">
                        <button class = "btn btn-primary">
                            Editar
                        </button>
                        <button class = "btn btn-danger">
                            Eliminar
                        </button>
                    </div>
                </td>
                
            </tr>
            }
        </tbody>
    </table>
    </div>
</div>

